@model SistemaVentas.Models.Transaccion

@{
    ViewBag.Title = "Delete";
}

<h1>Eliminar</h1>

<br />

<h3>¿Estás seguro de eliminar el diseño del carrito?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diseño.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diseño.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a la lista", "Index")  |
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
