@model SistemaVentas.Models.Diseño

@{
    ViewBag.Title = "Delete";
}

<h1>Eliminar</h1>

<br />

<h3>¿Estás seguro de eliminar el siguiente diseño?</h3>
<div>
    <!--<h4>Diseño</h4> !-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDiseno.NombreTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDiseno.NombreTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a la lista", "Index") |
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
