@model SistemaVentas.Models.Diseño

@{
    ViewBag.Title = "Details";
}

<h1>Detalles</h1>

<div>
    <!--<h4>Diseño</h4> !-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            <img width="200" src="@Url.Action("getImage", "Diseños", new {id = Model.DiseñoID})" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DiseñoID }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
